@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$background: black;
$text-color: white;
$border-radius: 8px;
$font-family: "Inter", sans-serif;
$secondary-color: #555;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
