@use "mixin" as *;
@use "variables" as *;
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  height: 100vh;
  background-color: color.scale($background, $lightness: 20%);
  display: flex;
  justify-content: center;
  align-items: center;

  ::-webkit-scrollbar {
    scrollbar-width: none;
  }

  @include largScreens {
    justify-content: center;
    align-items: center;
  }
}
.container {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
  box-shadow: $shadow;

  display: flex;
  flex-direction: column;

  overflow: auto;

  @include largScreens {
    width: 420px;
    height: 80vh;
    border-radius: $border-radius;
  }
}

.city {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;

  &__name {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__temp {
    margin-top: 1rem;
    font-size: 3.5rem;
  }

  &__desc {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  &__temp-range {
    margin-top: 0.7rem;
    display: flex;
    gap: 0.3rem;
  }

  &__temp-high {
    font-size: 1.1rem;
  }

  &__temp-low {
    font-size: 1.1rem;
  }
}

.main {
  padding: 1rem;
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: $font-size-xxlarge;
  }

  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    color: $text-color;
    height: fit-content;
    font-size: $font-size-large;
    background-color: transparent;
  }

  &__search {
    height: 2.3rem;
    border-radius: $border-radius;
    padding: 0.3rem;
    border: none;
    font-size: $font-size-medium;
  }
}

.main-cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.city-card {
  @include card();
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/weather-app/conditionImages/day/sunny.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 8.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: $shadow;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-main {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }

  &__title {
    font-size: $font-size-xlarge;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__temp {
    font-size: 2.5rem;
  }
}
